@font-face {
    font-family: "Cinzel-Regular";
    src: url(./other/fonts/Cinzel-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100vh;
    background: #DEB7A4;
    font-family: "Cinzel-Regular", Arial, Helvetica, sans-serif;
    /* background: rgb(20, 55, 255); */
    /* background: hsl(50, 39%, 50%); */
}

.contenedor>.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    gap: 30px;
}

.contenedor>.navegacion:first-child {
    margin-bottom: 20px;
}

.contenedor>.navegacion ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: 60%;
    /* font-family: "Cinzel-Regular", Arial, Helvetica, sans-serif; */
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #656565;
    font-weight: bold;
}

a::first-letter {
    font-size: 2rem;
}

.logo {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.contenedor-texto {
    position: relative;
    left: 200px;
}