@font-face {
    font-family: "Cinzel-Regular";
    src: url(./Other/typography/Cinzel-Regular.otf);
}

@font-face {
    font-family: "Cinzel-Bold";
    src: url(./Other/typography/Cinzel-Bold.otf);
}

@font-face {
    font-family: "AnonymousPro Bold";
    src: url(./Other/typography/AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: "Montserrat Extralight";
    src: url(./Other/typography/Montserrat-ExtraLight.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: fit-content;
}

.contenedor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid hsl(50, 50%, 75%);
    width: 200px;
    height: 100vh;
    background: #F5EFD6;
    font-family: "Cinzel-Regular", Arial, Helvetica, sans-serif;
    z-index: 2;
}

.contenedor>.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    gap: 30px;
}

.contenedor>.navegacion:first-child {
    margin-bottom: 20px;
}

.contenedor>.navegacion ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: 60%;
}

.contenedor>.navegacion ul a:hover {
    border-radius: 15px;
    background: hsl(48, 61%, 85%);
    transition: all 0.5s ease-in;
}

.contenedor>.navegacion ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a {
    padding: 0.8rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #656565;
    font-weight: bold;
}

a::first-letter {
    font-size: 2rem;
}

.logo {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.contenedor-texto {
    position: relative;
    left: 200px;
}

main {
    position: absolute;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100vw - 200px);
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

main.vistaprincipal .Bienvenidos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #F5EFD6;
    z-index: -1;
}

main.vistaprincipal>.Bienvenidos>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    z-index: 1;
}

main.vistaprincipal .Bienvenidos ul {
    position: absolute;
}

main.vistaprincipal .Bienvenidos ul li h1 {
    font-family: 'Cinzel-Bold';
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 16px;
    margin-left: 3rem;
    z-index: 1;
}

main.vistaprincipal .Bienvenidos ul li h3 {
    font-family: "Montserrat Extralight";
    font-size: 1.8rem;
    letter-spacing: 15px;
    text-transform: uppercase;
}

main.vistaprincipal .Bienvenidos ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding-top: 6rem;
}

span {
    position: absolute;
    width: 100vw;
    height: 3rem;
    background: #9EBEA2;
    z-index: 10;
}

body>span.superior {
    top: 0px;
    left: 0px;
}

span.inferior {
    top: calc(100% - 3rem);
    left: 0px;
}

main.vistaprincipal>.Bienvenidos>img#logo {
    opacity: 0.3;
    height: 70vh;
}

main.vistaprincipal .Bienvenidos img#decorado {
    height: 100vh;
}

main.vistaprincipal .perfil {
    position: relative;
    overflow: hidden;
}

main.vistaprincipal>.perfil>.containerDescripcion {
    position: absolute;
    bottom: 0px;
    right: 5%;
    width: 90%;
    height: 70%;
    background: #DEB7A4;
}

main.vistaprincipal>.perfil>.containerDescripcion>#foto {
    position: absolute;
    top: -45%;
    left: -7%;
    width: 100%;
}

main.vistaprincipal>.perfil>.containerDescripcion>#marco {
    position: absolute;
    top: -40%;
    right: -5%;
    width: 100%;
}

main.vistaprincipal>.perfil #btn-curriculo {
    position: absolute;
    left: 6%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    border: none;
    background-color: transparent;
    background-image: url(./Other/images/newbotoncurri.png);
    background-position: center;
    cursor: pointer;
}

main.vistaprincipal>.perfil .showText {
    position: absolute;
    top: 40%;
    left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Extralight";
    letter-spacing: 5px;
    font-size: 1.5rem;
    text-align: center;
}

main.vistaprincipal>.perfil .showText p:nth-child(1) {
    margin-bottom: 30px;
}

#logrosProfesionales.logros {
    position: relative;
    font-family: "Montserrat Extralight";
    font-size: 1.5rem;
}

#logrosProfesionales.logros>#fondoVerde {
    position: absolute;
    top: 10%;
    left: 0px;
    display: flex;
    align-items: center;
    height: 80vh;
    width: 65%;
    background: #9EBEA2;
}

.logros>#fondoVerde>#certificado {
    position: absolute;
    top: 50%;
    left: 90%;
    display: flex;
    transform: translateY(-50%);
    width: 60%;
}

.logros>#fondoVerde>.containerTexto {
    position: absolute;
    top: 0%;
    left: 5%;
    display: flex;
    width: 80%;
    height: 80%;
    padding: 20px;
}

.logros>#fondoVerde>.containerTexto>ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    text-align: justify;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.logros>#fondoVerde>.containerTexto>ul>li {
    list-style: inside;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#Obras {
    position: relative;
    height: fit-content;
    width: 100%;
}

#Obras>.Galeria {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    row-gap: 20px;
    padding: 40px 20px;
}

#Obras>.Galeria>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#Obras>.Galeria>div>.mostrar {
    position: relative;
    display: flex;
}

#Obras>.Galeria>div>.mostrar.grande {
    display: flex;
    align-items: center;
    height: 36rem;
    width: 28rem;
}

#contacto>figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 20px 10rem;
}

#contacto>figure>img {
    width: 40%;
}

#contacto>figure>form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
    gap: 20px;
}

#contacto>figure>form>h1 {
    display: flex;
    text-align: center;
    font-family: "Cinzel-Bold";
    letter-spacing: 5px;
    font-size: 2.5rem;
}

#contacto>figure>form>#email {
    text-align: center;
    border-radius: 5px;
    height: 2rem;
    width: 70%;
    font-family: "AnonymousPro Bold";
}

#contacto>figure>form>#mensaje {
    padding: 5px;
    width: 70%;
    border-radius: 5px;
    font-family: "AnonymousPro Bold";
}

#contacto>figure>form>#btn-enviar {
    padding: 1rem 2rem;
    font-family: "AnonymousPro Bold";
    font-size: 1rem;
    background-color: #DEB7A4;
    border-radius: 5px;
    border: 5px dashed hsl(20, 28%, 58%);
    cursor: pointer;
    color: hsl(30, 4%, 9%);
}

#contacto>figure>form>#btn-enviar:hover {
    background-color: hsl(20, 28%, 58%);
    border: 5px dashed #DEB7A4;
    animation: click 1.4s linear 1;
}

@keyframes click {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#contacto>figure>form>footer {
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#contacto>figure>form>footer ion-icon {
    cursor: pointer;
    font-size: 1.5rem;
}